---
import NavBar from "../components/navBar.astro";
import GlobalHead from "../components/GlobalHead.astro";
---

<html lang="es">
    <title>Enviar | ConnectNet</title>

    <GlobalHead />

    <body>
        <NavBar />
        <iframe
            allow="display-capture"
            src="https://pantalla.systemconnect.lucaspeinado.es/enviar/"
        ></iframe>
    </body><style>
        iframe {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -100;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            border: 0;
            background-color: blue;
        }
    </style>
</html>
