---
import NavBar from "../components/navBar.astro";
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Enviar | ConnectNet</title>
    </head>
    <body>
        <NavBar />
        <iframe
            allow="display-capture"
            src="https://pantalla.systemconnect.lucaspeinado.es/enviar/"
        ></iframe>
    </body>
    <style>
        iframe {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -100;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            border: 0;
            background-color: blue;
        }
    </style>
</html>
