---
interface Props {
    img: string;
    ancho?: string;
    dir?: string;
    children: string[];
}
const { img, ancho = "50", dir = "row" } = Astro.props;
---

<div class="col2" style={`flex-direction: ${dir}`}>
    <img src={img} style={`width: ${ancho}%`} />

    <div class="e1"><slot /></div>
</div>

<style>
    .col2 {
        display: flex;
        justify-content: top;
        align-items: flex-start;
        gap: 20px;
    }

    img {
        height: auto;
    }

    @media screen and (max-width: 600px) {
        .col2 {
            flex-direction: column !important;
        }
        img {
            width: 100% !important;
        }
    }
</style>
