---

---

<style>
    * {
        color: black;
    }
    footer {
        background-color: #00ff00;
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: flex-end;
        padding: 20px;
    }
    img {
        height: 80px;
        align-self: start;
    }
    p,
    h3 {
        margin: 10px;
    }
</style>
<footer>
    <p>Código fuente nuevo aún no disponible.</p>
    <p>
        Código funete de esta web en <a
            href="https://github.com/lucasengithub/systemConnect-Pantalla"
            target="_blank">Github</a
        >.
    </p>
    <p>
        Ver versión anterior: <a
            href="https://github.com/lucasengithub/systemConnect-Pantalla"
            target="_blank">systemConnect</a
        >.
    </p>
    <h3>© Lucas Peinado - connectnet.es</h3>

    <img src="/white.svg" />
</footer>
