---
import ButtonGreen from "./ButtonGreen.astro";
import ButtonBlack from "./ButtonBlack.astro";
const textoBoton = "Recibir Pantalla";
---

<style>
    section {
        position: fixed;
        align-items: center;
        justify-content: space-between;
        left: 8px;
        right: 8px;
        top: 8px;
        border-radius: 19px;
        background-color: rgb(0, 0, 0, 0.6);
        backdrop-filter: blur(6px);
        display: flex;
        flex-direction: row;
        padding: 10px;
        border: 0.4px solid darkgray;
        img {
            height: 32px;
            width: auto;
        }
        div {
            display: flex;
            flex-direction: row;
            gap: 10px;
        }
    }
</style>
<section>
    <img src="/net_logo.svg" alt="connectnet" onclick="window.location = '/'" />
    <div>
        <ButtonBlack
            id="mainBtn"
            texto={textoBoton}
            onclick="window.open('https://pantalla.systemconnect.lucaspeinado.es/recibir/')"
        />
        <div id="gbtn" style="display: none;">
            <ButtonGreen
                texto="Enviar Pantalla"
                onclick="window.location = '/send'"
            />
        </div>
    </div>
</section>
<script>
    const btnX = document.getElementById("gbtn");
    const recV = document.getElementById("recV");
    const mainBtn = document.getElementById("mainBtn");

    function updateButtonText() {
        if (mainBtn) {
            mainBtn.innerText =
                window.innerWidth < 768 ? "Recibir" : "Recibir Pantalla";
        }
    }

    updateButtonText();
    window.addEventListener("resize", updateButtonText);

    if (
        !/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(
            navigator.userAgent,
        )
    ) {
        if (btnX) btnX.style.display = "block";
    }
</script>
